.sort-movies {
    margin-top: 2rem;
    cursor: pointer;
    
    &:hover &__label {
        color: $color-secondary;
    }
    
    &:hover &__design {
        border-color: $color-secondary;
    }
    
    input {
        display: none;
        position: absolute;
    }
    
    input:checked + &__design::before {
        opacity: 1;
    }
    
    input:checked + &__design::after {
        opacity: 0.1;
    }
    
    input:checked + &__design {
        border-color: $color-secondary;
    }
    
    &__design {
        width: 16px;
        height: 16px;
        
        border: 1px solid $color-white;
        border-radius: 100%;
        position: relative;
        display: inline-block;
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: $color-secondary;
            width: inherit;
            height: inherit;
            border-radius: 100%;
            left: 50%;
            top: 50%;
            opacity: 0;
        }
        
        &::before {
            transform: translate(-50%,-50%) scale(0.5);
            transition: all .3s;
        }
        
        &::after {
            transform: translate(-50%,-50%) scale(2.2);
            transition: all .3s;
        }
    }
    
    &__label {
        margin-left: 2rem;
        font-size: 1.4rem;
        color: $color-white;
        padding-bottom: 5px;
        position: relative;
        bottom: 3px;
        cursor: pointer;
        user-select: none;
        letter-spacing: .1rem;
    
    }
    
}

.sort--heading {
    border-bottom: 2px solid $color-gray-dark;
    padding-bottom: 1rem;
    letter-spacing: .6rem;
    font-weight: 700;
}