.top-pick {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    
    h2 {
        color: #e3665d;
        text-transform: uppercase;
        text-align: center;
        font-size: 19px;
    }
    
    &__box {
        display: flex;
        align-items: center;
        margin-top: 20px;
        
        img {
            width: 100px;
        }
        
        &-info {
            margin-left: 15px;
            color: #f3f3f3;
            font-size: 15px;
            
            &-year {
                font-style: italic;
                font-size: 13px;
            }
        }
    }
}

