.heading-primary {
    font-size: 3.6rem;
    letter-spacing: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-secondary;
}

.heading-secondary {
    font-size: 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-tertiary {
    font-size: 2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 600;
}